<p-dialog header=" RESAP 37" [(visible)]="isVisible" [modal]="true" [closable]="true" [style]="{width: '75vw'}"
    (onHide)="closeModal()">

    <div class="grid">
        <div class="col-12" id="htmlData">
            <p class="text-800 w-10 md:w-4 font-bold">Fecha actual: {{ fechaActual | date:'dd/MM/yyyy' }}</p>


            <p-fieldset [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center text-primary">
                        <span class="pi pi-user mr-2"></span>
                        <span class="font-bold text-lg">Datos de Identificación </span>
                    </div>
                </ng-template>

                <li class="flex align-items-center py-0 px-2 surface-border">
                    <div class="flex items-center">
                        <div class="text-500 w-10 md:w-4 font-bold">Nombre Completo:</div>
                        <p class="ml-1">{{ auth?.emp.nombre +' '+ auth?.emp.otro_nombre +' '+
                            auth?.emp.paterno + ' ' +auth?.emp.materno }}</p>
                    </div>
                    <div class="flex items-center">
                        <div class="text-500 w-10 md:w-4 font-bold">Puesto que Ocupa:</div>
                        <p class="ml-1">{{auth?.emp.cargo}}</p>
                    </div>
                </li>

            </p-fieldset>


            <p-fieldset [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center text-primary">
                        <span class="pi pi-book mr-2"></span>
                        <span class="font-bold text-lg">Datos de Area y Unidad</span>
                    </div>
                </ng-template>
                <li class="flex align-items-center py-0 px-2 surface-border">
                    <!-- <div class="text-500 w-10 md:w-4 font-bold">Oficialia Mayor:</div> -->
                    <!-- <div class="text-500 w-10 md:w-4 font-bold">Dirección:</div> -->
                    <div class="text-500 w-10 md:w-4 font-bold">Departamento:</div>
                    <p class="ml-1">{{auth?.emp.unidad}}</p>
                </li>
            </p-fieldset>

            <p-fieldset [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center text-primary">
                        <span class="pi pi-file mr-2"></span>
                        <span class="font-bold text-lg">Datos del Evento</span>
                    </div>
                </ng-template>


                <li class="flex align-items-center py-0 px-2 surface-border flex-wrap">
                    <div class="text-500 w-10 md:w-4 font-bold">Fecha de Realización </div>
                    <div class="text-500 w-10 md:w-4 font-bold">Desde:</div>
                    <br>
                    <div class="text-500 w-10 md:w-4 font-bold">Hasta</div>

                    <div class="text-500 w-10 md:w-4 font-bold">Horarios de Realización </div>
                    <div class="text-500 w-10 md:w-4 font-bold">De Horas:</div>
                    <br>
                    <div class="text-500 w-10 md:w-4 font-bold">A Horas: </div>
                    <div class="text-500 w-10 md:w-4 font-bold">Nombre del Evento:</div>
                </li>
            </p-fieldset>



            <p-fieldset legend="Criterios de Evaluación" [toggleable]="true">
                <div class="surface-section">
                    <ul class="list-none p-0 m-0">
                        <li class="flex align-items-center">
                            <div class="text-500 w-6 md:w-5 font-medium">
                                1. El nivel de aplicación efectiva de los
                                conocimientos y habilidades adquiridas
                                por el Servidor Público municipal es:
                            </div>

                            <div class="text-900 w-full md:w-7 md:flex-order-0 flex-order-1">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value="Cheese" [(ngModel)]="califica"
                                            inputId="muy_bueno1" />
                                        <label for="muy_bueno1" class="ml-2">
                                            MUY BUENO
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="califica"
                                            inputId="bueno1" />
                                        <label for="bueno1" class="ml-2">
                                            BUENO
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Pepper" [(ngModel)]="califica"
                                            inputId="aceptable1" />
                                        <label for="aceptable1" class="ml-2">
                                            ACEPTABLE
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Onion" [(ngModel)]="califica"
                                            inputId="deficiente1" />
                                        <label for="deficiente1" class="ml-2">
                                            DEFICIENTE
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-5 font-medium">
                                2. Los conocimientos y habilidades adquiridas
                                provocaron un cambio de comportamiento que
                                favorece y facilita el logro de los objetivos:
                            </div>

                            <div class="text-900 w-full md:w-7 md:flex-order-0 flex-order-1">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value="Cheese" [(ngModel)]="califica2"
                                            inputId="muy_bueno2" />
                                        <label for="muy_bueno2" class="ml-2">
                                            MUY BUENO
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="califica2"
                                            inputId="bueno2" />
                                        <label for="bueno2" class="ml-2">
                                            BUENO
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Pepper" [(ngModel)]="califica2"
                                            inputId="aceptable2" />
                                        <label for="aceptable2" class="ml-2">
                                            ACEPTABLE
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Onion" [(ngModel)]="califica2"
                                            inputId="deficiente2" />
                                        <label for="deficiente2" class="ml-2">
                                            DEFICIENTE
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-5 font-medium">
                                3. El impacto en el desempeño laboral, después de
                                aplicado el evento de capacitación, es:
                            </div>
                            <div class="text-900 w-full md:w-7 md:flex-order-0 flex-order-1">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value="Cheese" [(ngModel)]="califica3"
                                            inputId="muy_bueno3" />
                                        <label for="muy_bueno3" class="ml-2">
                                            MUY BUENO
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="califica3"
                                            inputId="bueno3" />
                                        <label for="bueno3" class="ml-2">
                                            BUENO
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Pepper" [(ngModel)]="califica3"
                                            inputId="aceptable3" />
                                        <label for="aceptable3" class="ml-2">
                                            ACEPTABLE
                                        </label>
                                        <p class="ml-4"></p>

                                        <p-radioButton name="pizza" value="Onion" [(ngModel)]="califica3"
                                            inputId="deficiente3" />
                                        <label for="deficiente3" class="ml-2">
                                            DEFICIENTE
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </p-fieldset>


            <p-fieldset legend="Comentarios y Recomendaciones" [toggleable]="true">
                <div class="flex align-items-center justify-content-center surface-border flex-wrap">
                    <textarea rows="5" cols="70" placeholder="Comentarios y Recomendaciones del jefe Inmediato Superior"
                        pInputTextarea formControlName="text" style="text-align: left; padding: 10px;"></textarea>
                </div>
            </p-fieldset>
        </div>

        <div style="display: flex; align-items: center;">
            <button (click)="closeModal()" pButton pRipple label="Cancelar" icon="pi pi-times"
                class="p-button-text"></button>

            <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text m-4"></button>

            <button (click)="generatePDF()" pButton pRipple icon="pi pi-print"
                class="p-button-rounded p-button-success"></button>
        </div>



    </div>
</p-dialog>