<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Funcionario</h4>
            <div class="border-round border-1 surface-border p-4">
                <strong>Carnet de Identidad:</strong> {{ auth?.emp.ci }} 
                <br>
                <strong>Nombre Completo:</strong> {{ auth?.emp.nombre  +' '+ auth?.emp.otro_nombre +' '+ auth?.emp.paterno + ' ' +auth?.emp.materno }}
                <br>
                <strong>Cargo:</strong> {{auth?.emp.cargo}}
                <br>
                <strong>Oficina:</strong> {{auth?.emp.unidad}}
                <br>
            </div>

            <!-- <h5>Fieldset</h5>
             <p-fieldset legend="Legend" [toggleable]="true" class="line-height-3 m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p-fieldset>         -->
        </div>
    </div>
</div>