<!-- ---------------------------MODAL ---------------------------- -->
<p-dialog header="RESAP 33" [(visible)]="displayModal" [modal]="true" [closable]="true" [resizable]="false"
    [style]="{width: '75vw'}" [draggable]="false">

    <div style="text-align: center;">
        <h5>DETECCION DE NECESIDADES DE CAPACITACION</h5>
        <!-- <h5>SECTOR OPERATIVO</h5> -->
    </div><br><br>

    <div class="grid">
        <div class="col-12" id="htmlData">

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2 d-flex align-items-center" style="display: flex; flex-wrap: nowrap;">

                        <p-dropdown [options]="sectorData" [(ngModel)]="formData.resap33.sector" optionLabel="sectores"
                            optionValue="sectores" placeholder="A qué sector pertenece"
                            [style]="{'margin-right': '500px'}" name="sector">
                        </p-dropdown>



                        <p class="text-700 font-bold mb-0" style="white-space: nowrap;">
                            Fecha: {{ fechaActual | date:'dd/MM/yyyy' }}
                        </p>
                    </div>
                </ng-template>
            </p-toolbar>


            <p-fieldset [toggleable]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center text-primary">
                        <span class="pi pi-user mr-2"></span>
                        <span class="font-bold text-lg">Datos de Identificación </span>
                    </div>
                </ng-template>


                <li class="flex flex-column py-0 px-2 surface-border">
                    <div class="flex align-items-center mb-2">
                        <div class="text-500 font-bold w-4">Nombre Completo:</div>
                        <p class="ml-1">{{ auth?.emp.nombre + ' ' + auth?.emp.otro_nombre + ' ' + auth?.emp.paterno + '
                            ' + auth?.emp.materno }}</p>
                    </div>

                    <div class="flex align-items-center mb-2">
                        <div class="text-500 font-bold w-4">Nombre del Puesto:</div>
                        <p class="ml-1">{{auth?.emp.cargo}}</p>
                    </div>

                    <div class="flex align-items-center mb-2">
                        <div class="text-500 font-bold w-4">Item:</div>
                        <p class="ml-2">{{auth?.emp.item}}</p>
                    </div>

                    <div class="flex align-items-center mb-2">
                        <div class="text-500 font-bold w-4">Secretraria: </div>

                        <input id="input1Secretaria" type="text" pInputText
                            style="width: 400px; text-transform: uppercase;" [(ngModel)]="formData.resap33.secretaria"
                            name="secretaria" />
                    </div>

                    <div class="flex align-items-center mb-2">
                        <div class="text-500 font-bold w-4">Dirreción/Comuna: </div>

                        <input id="input-direccion" type="text" pInputText
                            style="width: 400px; text-transform: uppercase;" [(ngModel)]="formData.resap33['dirección']"
                            name="direccion" />
                    </div>

                    <div class="flex align-items-center mb-2">
                        <div class="text-500 font-bold w-4">Departamento/Division:</div>
                        <p class="ml-1">{{auth?.emp.unidad}}</p>
                    </div>


                </li>
            </p-fieldset><br>

            <!-- ----------------------------- PREGUNTA 1 -------------------------------------------------------------------- -->

            <p-fieldset legend="1. Conocimientos que exige el cargo, de acuerdo al manual de funciones"
                [toggleable]="true">
                <div class="surface-section">
                    <div class="flex align-items-center justify-content-center surface-border flex-wrap">

                        <textarea rows="5" pInputText style="width: 600px;" formControlName="text"
                            (keydown)="enumeracion($event)">1. </textarea>

                    </div>
                </div>
            </p-fieldset><br>



            <!-- --------------------------------- PREGUNTA 2 ----------------------------------------------------------- -->

            <p-fieldset
                legend="2. Que conocimientos se requiere ampliar o conocer el trabajador y/o servidor Público, para poder desempeñar óptimamente sus funciones"
                [toggleable]="true">
                <div class="flex flex-column py-0 px-2 surface-border">
                    <label>
                        Conocimiento:
                        <!-- <p-dropdown [options]="cursos" [(ngModel)]="formData.conAmpliar[0].id_curso"
                                optionLabel="nombre" placeholder="Selecciona un conocimiento" (onChange)="agregarNuevoConocimiento()"
                                name="id_curso">
                            </p-dropdown> -->

                        <p-dropdown [options]="cursos" [(ngModel)]="selectedCurso" optionLabel="nombre"
                            placeholder="Selecciona un conocimiento" name="id_curso">
                        </p-dropdown>
                    </label>


                    <br />

                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <label>
                            Otro:
                            <input id="input-otro" type="text" pInputText [(ngModel)]="otroConocimiento"
                                style="width: 300px; margin-left: 70px;" (input)="cambioEtrada($event)" name="otro" />
                        </label>

                        <button pButton type="button" label="Agregar" icon="pi pi-plus" class="p-button-success"
                            (click)="agregarNuevoConocimiento(otroConocimiento, otroConocimiento ? true : false)"
                            title="Elija uno para AGREGAR"></button>
                        <!-- 
                        <button *ngIf="editando2" pButton type="button" label="Guardar" icon="pi pi-save"
                            class="p-button-warning" "></button> -->
                    </div>
                    <br />

                    <p-table [value]="tabla2" [rows]="3" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 20rem">
                                    <div>Curso</div>
                                </th>
                                <th style="min-width: 6rem">
                                    <div>Opciones</div>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-conocimientos let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ conocimientos || es_otro }}</td>
                                <td style="display: flex; justify-content: center; margin: 0 auto;">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-info m-1" title="Editar"
                                        (click)="editarPregunta2(selectedCurso, rowIndex)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger m-1" title="Dar de Baja"
                                        (click)="eliminarPregunta2(rowIndex)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>

            <!-- ---------------------------------------PREGUNTA 3 ----------------------------------------------------------------------- -->
            <p-fieldset
                legend="3. Las funciones realizadas, a su criterio, qué conocimientos demandan por el Trabajador y/o Servidor Público Municipal. La prioridad podría ser alta, media o baja"
                [toggleable]="true">
                <div class="flex flex-column py-0 px-2 surface-border">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <label>
                            Función:
                            <input id="input-funcion" type="text" pInputText [(ngModel)]="funcion3"
                                style="width: 600px; margin-left: 45px;" name="funcion" />
                        </label>
                    </div>
                    <br><br>

                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div style="display: flex; align-items: center;">
                            <label style="margin-right: 10px;">
                                Conocimiento:
                            </label>
                            <textarea id="input-conocim" rows="3" pInputText [(ngModel)]="conocimiento3"
                                style="width: 600px;" name="conocim"></textarea>
                            <!--<input id="input-funcion" type="text" pInputText [(ngModel)]="formData.funcionCon[0].funciones"
                            style="width: 600px; margin-left: 45px;"  name="funcion"/>-->
                        </div>
                    </div><br><br>

                    <div class="flex flex-wrap gap-3">
                        <label style="margin-right: 30px;">Prioridad: </label>
                        <div class="flex align-items-center">
                            <p-radioButton name="prioridad" value="alta" [(ngModel)]="prioridad3"
                                inputId="prioridadAlto" />
                            <label for="prioridadAlto" class="ml-2">Alto</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="prioridad" value="media" [(ngModel)]="prioridad3"
                                inputId="prioridadMedio" />
                            <label for="prioridadMedio" class="ml-2">Medio</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="prioridad" value="baja" [(ngModel)]="prioridad3"
                                inputId="prioridadBajo" />
                            <label for="prioridadBajo" class="ml-2">Bajo</label>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: flex-end;">
                        <button *ngIf="!editando3" pButton type="button" label="Agregar" icon="pi pi-plus"
                            class="p-button-success" (click)="agregarPregunta3ForInput()"></button>

                        <button *ngIf="editando3" pButton type="button" label="Guardar" icon="pi pi-save"
                            class="p-button-warning" (click)="guardarEdicionPregunta3()"></button>
                    </div>
                    <br><br>

                    <p-table [value]="tabla3" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 10rem">Función</th>
                                <th style="min-width: 20rem">Conocimiento Demandado</th>
                                <th style="min-width: 1rem">Prioridad Alta</th>
                                <th style="min-width: 1rem">Prioridad Media</th>
                                <th style="min-width: 1rem">Prioridad Baja</th>
                                <th style="min-width: 4rem">Opciones</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ item.funcion }}</td>

                                <td>{{ item.conocimiento }}</td>
                                <td>
                                    <p-radioButton value="alta" [(ngModel)]="item.prioridad"
                                        inputId="prioridadAlto_{{ rowIndex }}" [disabled]="true" />
                                </td>
                                <td>
                                    <p-radioButton value="media" [(ngModel)]="item.prioridad"
                                        inputId="prioridadMedio_{{ rowIndex }}" [disabled]="true" />
                                </td>
                                <td>
                                    <p-radioButton value="baja" [(ngModel)]="item.prioridad"
                                        inputId="prioridadBajo_{{ rowIndex }}" [disabled]="true" />
                                </td>
                                <td style="display: flex; justify-content: center;">

                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-info m-1" title="Editar"
                                        (click)="editarPregunta3(item, rowIndex)"></button>

                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger m-1" title="Eliminar"
                                        (click)="eliminarPregunta3(rowIndex)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>


            <!-- ------------------------------------ PREGUNTA 4 ----------------------------------------------- -->

            <p-fieldset
                legend="4. Mencione las materias en las que el trabajador y/o servidor publico tiene conociminetos profundos y podria actuar como capacitador"
                [toggleable]="true">
                <div class="flex flex-column py-0 px-2 surface-border">
                    <label>
                        Conocimiento:
                        <p-dropdown [options]="cursos4" [(ngModel)]="formData.capMateria[0].id_curso"
                            optionLabel="nombre" placeholder="Selecciona un conocimiento" (onChange)="cambioDropdown4()"
                            name="funcion">
                        </p-dropdown>
                    </label>
                    <br />

                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <label>
                            Otro:
                            <input id="input-otro2" type="text" pInputText [(ngModel)]="formData.capMateria[0].es_otro2"
                                style="width: 300px; margin-left: 70px;" (input)="cambioEtrada4()"
                                [disabled]="selectedCurso4 !== null" name="funcion" />
                        </label>

                        <button *ngIf="!editando4" pButton type="button" label="Agregar" icon="pi pi-plus"
                            class="p-button-success" (click)="agregarPregunta4()" [disabled]="!agregadoHabiltado4()"
                            title="Elija uno para AGREGAR"></button>

                        <button *ngIf="editando4" pButton type="button" label="Guardar" icon="pi pi-save"
                            class="p-button-warning" (click)="guardarEdicionPregunta4()"></button>
                    </div>
                    <br />

                    <p-table [value]="tabla4" [rows]="3" [rowHover]="true" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 20rem">
                                    <div>Curso</div>
                                </th>
                                <th style="min-width: 6rem">
                                    <div>Opciones</div>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-curso let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ curso.nombre || curso }}</td>


                                <td style="display: flex; justify-content: center; margin: 0 auto;">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-info m-1" title="Editar"
                                        (click)="editarPregunta4(curso, rowIndex)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger m-1" title="Dar de Baja"
                                        (click)="eliminarPregunta4(rowIndex)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset><br>

        </div>
    </div>


    <div class="flex justify-content-between flex-column sm:flex-row">

        <button (click)="cerrarModal()" pButton pRipple label="Cancelar" icon="pi pi-times"
            class="p-button-text"></button>

        <button pButton type="button" label="Guardar" icon="pi pi-check" class="p-button-text m-4"
            (click)="onInputChange()"></button>

    </div>
</p-dialog>