<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-book mr-2"></span>
            <span class="font-bold text-lg">Capacitaciones detalles</span>
        </div>
    </ng-template>
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-1 px-2  surface-border flex-wrap">
            <div class="text-500 w-3 md:w-2 font-medium">Fecha </div>
            <div class="text-900 w-6 md:w-5 "> {{traing?.fecha_inicio| date:'dd/MM/yyyy'}} - {{traing?.fecha_fin| date:'dd/MM/yyyy'}} {{ traing?.horario_inicio.split(':')[0] +':'+traing?.horario_inicio.split(':')[1] }} - {{ traing?.horario_fin.split(':')[0] +':'+traing?.horario_fin.split(':')[1] }} </div>   
            <div class="w-full md:w-1 "></div>             
            <div class="text-500 w-3 md:w-2 font-medium "> Horas </div>        
            <div class="text-900 w-6 md:w-1 "> {{traing?.carga_horaria}} </div>    
        </li>
        <li class="flex align-items-center py-1 px-2  surface-border flex-wrap">
            <div class="text-500 w-3 md:w-2 font-medium">Ubicación </div>
            <div class="text-900 w-6 md:w-5 ">{{traing?.direccion}}</div>   
            <div class="w-full md:w-1 "></div>             
            <div class="text-500 w-3 md:w-2 font-medium ">Cupo</div>        
            <div class="text-900 w-6 md:w-1 "> {{traing?.cupo}} </div>
        </li>
        <li class="flex align-items-center py-1 px-2  surface-border flex-wrap">
            <div class="text-500 w-3 md:w-2 font-medium">Disertante </div>
            <div class="text-900 w-6 md:w-5 "> {{traing?.capacitador}} </div>   
            <div class="w-full md:w-1 "></div>             
            <div class="text-500 w-3 md:w-2 font-medium ">Solicitudes</div>        
            <div class="text-900 w-6 md:w-1 "> 
                <p-chip label="{{calcularTotalSolicitadosIns()}}" class="mr-2"></p-chip>
            </div>    
        </li>
        <li class="flex align-items-center py-1 px-2  surface-border flex-wrap">
            <div class="text-500 w-3 md:w-2 font-medium">Estado</div>
            <div class="text-900 w-6 md:w-5">
                <ng-container *ngIf="traing?.activo === '0'; else activo">
                    Inactivo
                    <p-chip label="" class="mr-2"></p-chip>
                </ng-container>
                <ng-template #activo>
                    Activo
                    <p-chip label="" class="mr-2"></p-chip>
                </ng-template>
            </div> 
            <div class="w-full md:w-1 "></div>             
            <div class="text-500 w-3 md:w-2 font-medium ">Habilitados</div>        
            <div class="text-900 w-6 md:w-1 "> <p-chip label="{{calcularTotalHabilitadosIns()}}" class="mr-2"></p-chip>  </div>    
        </li>
        <li class="flex align-items-center py-1 px-2  surface-border flex-wrap">
            <div class="text-500 w-3 md:w-2 font-medium">
                <button *ngIf="traing?.asistencias === 0"
                pButton 
                type="button" 
                [label]="traing?.activo === '1' ? 'Inhabilitar capacitación' : 'Habilitar capacitación'" 
                class="p-button-warning"
                (click)="toggleActivoCapacitacion()"
                ></button>    
            </div>
            <div class="text-900 w-6 md:w-5 "> <p-chip label="" class="mr-2"></p-chip> </div>   
            <div class="w-full md:w-1 "></div>             
            <div class="text-500 w-3 md:w-2 font-medium ">Disponibles</div>        
            <div class="text-900 w-6 md:w-1 "> <p-chip label="{{calcularTotalDisponiblesIns()}}" class="mr-2"></p-chip>  </div>    
        </li>
        <li class="flex align-items-center py-1 px-2 surface-border flex-wrap">
            <div class="w-full text-center">
                
            </div>
        </li>
    </ul>
</p-fieldset>