

    <div class="card ui-message ui-messages-warn">
        <!-- <h5>NOTA</h5> -->
        <p-fieldset legend="NOTA" [toggleable]="true" class="line-height-3 m-0">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item ">TODOS LOS SERVIDORES PÚBLICOS <strong>PROFESIONALES Y/O QUE CUMPLAN FUNCIONES DE AUDITORES GUBERNAMENTALES (AUDITORES, INGENIEROS, ABOGADOS, Y OTROS), DEBERAN ACUMULAR 40 HORAS DE CAPACITACION COMO MÍNIMO </strong>, DANDO MAYOR IMPORTANCIA AL ÁREA EN LA QUE DESEMPEÑA SUS FUNCIONES.</li>
                <li class="list-group-item">LOS SERVIDORES PÚBLICOS, EMPLEADOS O TRABAJADORES NO PROFESIONALES, QUE CUMPLEN FUNCIONES DE APOYO ADMINISTRATIVOS <strong>(SECRETARIAS, ADMINISTRADORES, Y OTROS) Y PERSONAL DE SERVICIO (MENSAJEROS, PORTEROS, Y OTROS AUXILIARES Y PERSONAL OPERATIVO EN GENERAL), TIENEN LA OBLIGACION DE ACUMULAR 20 HORAS DE CAPACITACION COMO MÍNIMO.</strong></li>
                <li class="list-group-item">LA DIRECCIÓN DE RECURSOS HUMANOS <strong>RECOMIENDA</strong> A USTED ADOPTAR LOS RECAUDOS Y/O MEDIDAS QUE EL CASO ACONSEJE A OBJETO DE <strong>CUMPLIR LO ESTIPULADO, ASI MISMO ENVIAR AL DEPARTAMENTO DE DESARROLLO DE PERSONAL Y SEGURIDAD INDUSTRIAL UBICADO EN OBRAS PUBLICAS UNA COPIA DEL CERTIFICADO DE CADA CAPACITACIÓN.</strong></li>
                <li class="list-group-item">El 50 %  DE LAS CAPACITACIONES DEBE SER EN SU ÁREA DE ESTUDIO</li>
                <li class="list-group-item">EL FUNCIONARIO SOLO PUEDE SOLICITAR LA INSCRIPCION DE TRES CURSOS AL AÑO.</li>
              </ul>
        </p-fieldset>
    </div>