<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
    <li>
        <a href="https://www.primefaces.org/primeblocks-ng/#/">
            <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/> -->
        </a>
    </li>
    <ul class="ng-tns-c4-8 ng-trigger ng-trigger-children ng-star-inserted">
        <a routerLink="/capacitacion/resap33" routerLinkActive="active-route"
            class="p-ripple p-element docs-creator">
            <i class="layout-menuitem-icon pi pi-fw pi-user-edit"></i>
            <span class="layout-menuitem-text">Registros</span>
        </a>
    </ul>
</ul>