.title {
    font-size: 1.5em; /* Tamaño del título, ajusta según sea necesario */
    text-align: center; /* Centrado del título */
  }
  
  .subtitle {
    font-size: 2em; /* Tamaño del subtítulo, ajusta según sea necesario */
    text-align: center; /* Centrado del subtítulo */
  }